<div class="max-w-7xl mx-auto my-16 rounded-3xl bg-blue-500">
    <div class="flex flex-wrap p-6 lg:p-10 space-y-6 lg:space-y-0">
        <div class="w-full text-center text-white">
            <!-- Google AdSense code -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-XXXXXXXXXXXXXXXX"
                 data-ad-slot="XXXXXXXXXX"
                 data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            <!-- End of Google AdSense code -->
        </div>
    </div>
</div>
